       body{
        background-color:darkseagreen
       }
       .div{
            text-align: center;
            margin-top: 0%;
        }
        .title{
            font-weight: bold;
            font-size: xx-large;
        }
        .btn{
            font-size: x-large;
            padding: 1.5% 4%;
            border-radius: 10px;
            cursor: pointer;
            margin: 1%;          
        }
        .resetBtn{
            font-size: large;
            padding: 1px 15px;
            border-radius: 10px;
            cursor: pointer;
            margin: 2%;
        }
        .btn:hover{
            transform: scale(1.1);
            background-color: yellow;
        }
        .resetBtn:hover{
            transform: scale(1.1);
            background-color: red;  
        }

        .score{
         display: flex;  
         justify-content: center; 
         gap: 5%;
         font-size: x-large;
         font-weight:normal;
        }
        .choice{
            font-size: xx-large;
            font-weight:bolder;
            display: none;
        }
        .result{    
            font-size: xxx-large;
            font-weight: bold;
            height: auto;
            text-align: center;
           
            margin: 0 auto;
        }
        .bothMove{
            display:flex;
            justify-content: center;
            margin: 0;
            padding: 0;
        }
        .bothMove img{
            position: absolute;
            gap: 20px;
            width:100;
            transition: transform 0.30s ease;
        }
        .bothMove img:hover{
            transform: scale(1.1);

        }
        .rockPlayer{
            max-width: 30%;
            height: 250px;
            margin-right: 20%;
            display: none;
        }
        .rockComputer{
            max-width: 30%;
            height: 250px;
            margin-left: 20%;
            display:none;
        }
        .paperPlayer{
            margin: 0;
            padding: 0;
            max-width: 30%;
            height: 250px;
            margin-right: 20%;
            display: none;
        }
        .paperComputer{
            max-width: 30%;
            height: 250px;
            margin-left: 20%;
            display:none;
        }
        .scissorPlayer{
            margin: 0;
            padding: 0;
            max-width: 30%;
            height: 250px;
            margin-right: 20%;
            display: none;
        }
        .scissorComputer{
            max-width: 30%;
            height: 250px;
            margin-left: 20%;
            display:none;
        }
        .modalLose{
            display: none; 
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7); 
            text-align: center;
            flex-direction:column;
            justify-content: center;
            align-items: center;
        }
        .modalLose img{
            border-radius: 10px;           
            padding-top: 3%;
        }
        .modalLose p{
        font-size:xx-large;
        text-align: center;
        color: white
        
        }
        .modalLose button{
            padding: 1% 1%;
            border-radius: 15px;
            font-size: x-large;
            cursor: pointer;
            transition: transform 0.90s;
        }
        .modalLose button:hover{
            transform: scale(1.5) rotate(360deg);
            background-color:bisque;
        }
        /* .modalWin-content{
             background: white;
            padding: 20px;
            border-radius: 10px;
            min-width: 300px;
            text-align: center;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        } */